.about{
    text-align: left;
    margin: 100px 100px 0px 100px;
}

.title{
    font-size: 60px;
}

.about-desc{
    font-size: 20px;
    margin: 30px 0px;
}

.team-segment{
    margin: 100px 0px 100px 0px;
}

.team-title{
    font-size: 50px;
    margin-bottom: 30px;
}

.team-desc{
    font-size: 20px;
    margin-bottom: 20px;
}

.team-subtitle{
    font-size: 20px;
}