/*
@Kevin updated styling a bit to be consistent w/ rest of dashboard
*/

.basic-classroom{
  text-align: left;
  margin: 100px;
}

.title {
  font-size: 60px;
}

.desc{
  font-size: 20px;
  margin: 30px 0px;
}

/*
.inputs {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
*/

td {
  padding-bottom: 10px;
  padding-right: 100px;
}
.label {
  /* font-family: "Quicksand"; 
  text-align: left;
  line-height: 50px;
  align-items: center;*/
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  
}

/* removed default arrows inside input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input {
  height: 40px;
  width: 120px;
  border-radius: 15px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 0px;
}

