.title{
    font-size: 60px;
}

.desc{
    font-size: 20px;
    margin: 30px 0px;
}

.calculate-basic-button{
    font-size: 20px;
    margin-top: 50px;
}

.calculate-advanced-button{
    font-size: 20px;
    margin-top: 10px;
}

.button-desc{
    font-size: 20px;
    margin-top: 20px;
}