.home{
    text-align: left;
    margin: 0px 100px 0px 100px;
}

.title{
    font-size: 60px;
}

.desc{
    font-size: 20px;
}

.calculate-button{
    font-size: 30px;
}

.works-button{
    font-size: 15px;
    margin-top: 10px;
}