.frame{
    position: relative;
    width: 50%;
    max-width: 500px;
    height: 90px;
    padding: 40px 0px;
    background-color: transparent;
}

.bar{
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}
.bar > .track{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: black;
}
.bar > .range{
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: purple;
}
.bar > .thumb{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
    opacity: 1;

    box-shadow: 0 0 0 0 purple;
    transition: box-shadow 0.2s ease-in-out;
}
.bar > .thumb.left{
    transform: translate(-15px, -10px);
}
.bar > .thumb.right{
    transform: translate(15px, -10px);
}

.bar > .info{
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 30px;
    background-color: #EDEDED;
    text-align: center;
    border-radius: 5px;
    padding: 1px 0px;
}
.bar > .info.left{
    transform: translate(-45px, 15px);
}
.bar > .info.right{
    transform: translate(45px, -45px);
}

input[type=range]{
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}
input[type=range]::-webkit-slider-thumb{
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}